include requirements*.txt
include CONTRIBUTING.md
include LICENSE

exclude .coveragerc
exclude .ctags
exclude .gitattributes
exclude .github/ISSUE_TEMPLATE.md
exclude .github/PULL_REQUEST_TEMPLATE.md
exclude .gitignore
exclude .travis.yml
exclude CHANGELOG.md
exclude README.md

prune finindia_stmts/test/
prune .github/
